h1 {
	color: white;
}
div {
	background-color: #c78d36;
	
	margin-bottom: 10px;
	margin-left: 20px;
}

.big {
	width: 300px;
	height: 800px;
}
.in {
	background-color: #1d1913;
	width: 150px;
	height: 150px;
}
